/* style={{display:'flex',justifyContent:'center', alignContent:'center'}}
 */
.alignGood{
    display: flex;
    justify-content: center;
    align-content: center;
}
.mainContainer{
    width: 1400px;
    margin: 0 10px 30px 10px;
    padding: 50px 0;
    background-color: rgba(220, 220, 220, 0.205);
}
.bContainer{
    border: none;
    display: flex;
    width: 836px;
    margin: 0px 0px 0px 290px;
    padding: 0px;
}

.bContainer .item:hover{
    transition: 0.s;
    background-color: white;
    cursor: pointer;
}

.bContainer .item{
    width: 282px;
    margin: 0px;
    border: 1px solid rgba(224, 124, 183, 0.158);
    border-radius: 2%;
    transition: all 0.6s ease;
    max-height: 170px;
    overflow: hidden;
}

.bContainer .item:hover{
    background: rgba(0, 0, 0,0.1);
}

.bContainer .item:hover .bigIcon{
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.bContainer .item .sub{
    margin: 5px;
    padding: 0px 0px 15px 49px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(231, 103, 178);
}

.bigIcon{
    padding: 10px 10px 10px 69px;
    width: 80px;
    height: 80px;
    color: rgb(231, 103, 178);
}


/* 회원탈퇴 페이지 */
.mainContainer .myHeader{
    font-size: 40px;
    margin: 0px;
    padding: 0px 0px 33px 547px;
    font-weight: bold;
}
.mainContainer .goodBye{
    width: 100px;
    height: 100px;
    margin: 46px 724px -23px 471px;
    padding: 1px 10px 10px 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(241, 99, 185);
}
.mainContainer .conBox{
    margin: 10px;
    padding: 80px 20px 77px 457px;
    display: flex;
}
.mainContainer .conBox .byeBtn{
    width: 130px;
    height: 30px;
    border: 1px solid pink;
    padding: 15px 15px 19px 17px;
    margin: 20px;
    font-size: 30px;
    background-color: rgba(241, 99, 184, 0.829);
    color: rgb(247, 245, 245);
    border-radius: 3%;
    font-weight: bold;
    font-family: serif;
}



/* 개인정보수정 페이지 */
.mainContainer .myAccHeader{
    width: 100px;
    height: 100px;
    margin: 46px 724px -23px 538px;
    padding: 1px 10px 10px 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
