#wrap {
    padding-top: 105px;
}

.con_inner {
    padding: 50px 60px 0px 60px;
    position: relative;
    overflow: hidden;
}

.sub_visual {
    width: 100%;
    height: 311px;
    position: relative;
}

.sub_visual .bg {
    width: 100%;
    height: 311px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.left_con {
    width: 110%;
    float: left;
}

.studio_list {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.studio_list li {
    width: 526px;
    border: 1px solid #ececec;
    float: left;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 30px;
}

.studio_list li .img_box {
    width: 519px;
    height: 228px;
    background: #fff;
    border-bottom: 1px solid #ececec;
    text-align: center;
}

.studio_list li img {
    width: 500px;
    height: 228px;
}

.studio_list .info_box {
    padding: 12px 20px 10px;
    
}

.suit_name {
    padding-right:10px;
}

.studio_list .info_box table .suit_info {
    display: inline-block;
    width: 250px;
    height: 70px;
    overflow-wrap: break-word; /* 긴 단어에서 줄 바꿈 */
    word-wrap: break-word; /* 구식이지만 여전히 사용됨 */
    white-space: normal; /* 기본 줄 바꿈 설정 */
    padding: 10px; /* 여백 추가 */
    overflow: hidden;
    color: #2e2e2e; 
}

.coma_tab {
    width: 825px;
    margin: auto;
    overflow: hidden;
    display: flex;
    list-style: none;
}

.coma_tab li.m1 {
    width: 165px;
    height: 50px;
    border: 1px solid black;
    margin:1px;
}

.coma_tab li.m2 {
    width: 165px;
    height: 50px;
    border: 1px solid black;
    margin:1px;
}

.coma_tab li.m3 {
    width: 165px;
    height: 50px;
    border: 1px solid black;
    margin:1px;
}

.coma_tab li.m4 {
    width: 165px;
    height: 50px;
    border: 1px solid black;
    margin:1px;
}

.text {
    color: black;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}