#header .header_inner {
    background-color: #fff;
}

#header {
    background: #fff;
    border-bottom: 1px solid #cdcdcd;
}

#header .header_inner .search . input {
    background: #fff;
    border: 1px solid #929292;
}

#header .header_inner {
    width: 1220px;
    height: 104px;
}

#wrap {
    padding-top: 105px;
}
#header .header_inner .main_logo {
    position: absolute;
    top : 30px !important;
    left: 50%;
    margin-left: -160px;
}
/* ------------------------------------------------------------ */
.menu_div {
    width: 1220px;
    height: 170px;
    margin: 0 auto;
    position: relative;
}

.menu_div>a>div{
    float: left;
    font-size: 16px;
    line-height: 56px;
    color: #3e3e3e;
    padding-left: 15px;
    font-weight: bold;
    padding-right: 15px;
}

.menu_div>div{
    float: left;
    font-size: 16px;
    line-height: 56px;
    color: #3e3e3e;
    padding-left: 15px;
    font-weight: bold;
    padding-right: 15px;
}

.menu-trigger {
    margin-right: 10px;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 30px;
    height: 22px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3e3e3e;
    border-radius: 4px;
}

.menu-trigger span:ntn-of-type(1) {
    top: 0;
}

.menu-trigger span:ntn-of-type(2) {
    top: 10px;
}

.menu-trigger span:ntn-of-type(3) {
    bottom: 0;
}

.menu-trigger.active-3 {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.menu-trigger.active-3 span:ntn-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.active-3 span:ntn-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.menu-trigger.active-3 span:ntn-of-type(3) {
    opacity: 0;
}

.title_div {
    background: #424242;
    color: #fff;
    text-align: center;
    width: 82%;
    height: 35px;
    border-radius: 20px;
    line-height: 35px;
    margin-top: 30px;
    font-size: 14px;
}

.sub_tit_div {
    padding: 10px;
    font-size: 13px;
    padding-top: 0px;
    padding-left: 20px;
}
/* ------------------------------------------------------------ */

.sub_visual {
    width: 100%;
    height: 311px;
    position: relative;
}

.sub_visual .bg {
    width: 100%;
    height: 311px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.review_list li {
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    width: 40%;
    border: 1px solid #eeeeee;
    float: left;
    margin-top: 0px;
    margin-left: 5%;
    margin-bottom: 20px;
}

.review_list li .img {
    width: 60px;
    height: 40px;
    /* background: url(/img) 0 0 no-repeat; */
    border-right: 0px solid #eeeeee;
    float: left;
}

.review_list li .img img {
    width: 60px;
    height: 40px;
}

.left_con {
    width: 100%;
    float: left;
}

.studio_list {
    width: 100%;
    overflow: hidden;
}

.studio_list li {
    width: 526px;
    border: 1px solid #ececec;
    float: left;
    margin-right: 22px;
    margin-bottom: 30px;
}

.studio_list li .img_box {
    width: 519px;
    height: 228px;
    background: #fff;
    border-bottom: 1px solid #ececec;
    /* background: url(/img) 0 0 no-repeat; */
    text-align: center;
}

.studio_list li .info_box .logo {
    height: 27px;
    width: auto;
}

.honeymoon_tab {
    width: 825px;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.collection_tab li.m1 {
    width: 208;
}

.collection_tab li.m2 {
    width: 208;
}

.collection_tab li.m3 {
    width: 208;
}

.collection_tab li.m4 {
    width: 208;
}

.collection_tab li.m2 a {
    background-position: -209px 0px;
}

.collection_tab li.m2.on a {
    background-position: -209px -50px;
}

.collection_tab li.m3 a {
    background-position: -418px 0px;
}

.collection_tab li.m3.on a {
    background-position: -418px -50px;
}

.collection_tab li.m4 a {
    background-position: -627px 0px;
}

.collection_tab li.m4.on a {
    background-position: -627px -50px;
}

.honeymoon_tab li a {
    height: 47px;
    display: block;
    /* background: url(/img) 0 0 no-repeat; */
}

.honeymoon_tab li.m1 {
    width: 165px;
}

.honeymoon_tab li.m2 {
    width: 165px;
}

.honeymoon_tab li.m3 {
    width: 165px;
}

.honeymoon_tab li.m4 {
    width: 165px;
}

.honeymoon_tab li.m5 {
    width: 165px;
}

.honeymoon_tab li.m2 a {
    background-position: -168px 0px;
}

.honeymoon_tab li.m3 a {
    background-position: -337px 0px;
}

.honeymoon_tab li.m4 a {
    background-position: -506px 0px;
}

.honeymoon_tab li.m5 a {
    background-position: -675px 0px;
}

.honeymoon_tab li.m2.on a {
    background-position: -168px -50px;
}

.honeymoon_tab li.m2.on a {
    background-position: -168px -50px;
}

.honeymoon_tab li.m3.on a {
    background-position: -337px -50px;
}

.honeymoon_tab li.m4.on a {
    background-position: -506px -50px;
}

.honeymoon_tab li.m5.on a {
    background-position: -675px -50px;
}