body {
    margin: 0px;
    padding: 0px;
}

article {
    margin-left: 20px;
}

#app {
    height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 230px;
  height: 320px;
  object-fit: cover;
  margin: 0px 17px;
  margin-bottom: 40px;
}

.imgdiv {
  position:absolute;
  bottom: 10px;
  color: white;
  margin-left: 30px;
  text-shadow: rgba(0,0,0,0.6) 2px 2px 1px;
}

.topNav {
  display: block;
  position: fixed;
  top: -80px;
  width: 100%;
  height: 80px;
  background: rgba(20, 10, 10, 0.75);
  z-index: 99999;
}

.ModalOpen {
  animation: openNav .4s ease-out forwards;
}

.ModalClose {
  animation: closeNav .4s ease-out forwards;
}

@keyframes openNav {
  0% {
    top: -80px;
  }

  100% {
    top: 0px;
  }
}

@keyframes closeNav {
  0% {
    top: 0;
  }

  100%{
    top: -80px;
  }
}