.category p {
    margin-left: 20px;
    color: black;
    transition: all 0.6s ease;
}

.category p:hover{
    color: hotpink;
    background: beige;
    padding: 0 20px;
    font-weight: bold;
}

.login p {
    font-size:12pt;
    margin:16px 0;
    color: black;
    transition: all 0.6s ease;
}

.login p:hover {
    color: red;
    font-weight: bold;
    background: beige;
    padding: 0px 15px;
}

.topNav {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.topNav h1 {
    margin: 25px 0;
}

.topNav input {
    height: 20px;
    margin: 24px 0 0 25px;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    width: 190px;
    position: relative;
}

.searchIcon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 22px;
    left: 628px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.searchIcon:hover{
    color: hotpink;
}

.topNav div{
    display: flex;
    flex-direction: row;
    margin: 28px 100px;
}

.topNav div p {
    margin: 0px 20px;
    font-weight: bold;
    cursor: pointer;
}

.icon{
    width: 28px;
    height: 28px;
    margin: 22px 0;
    cursor: pointer;
    margin-left: 150px;
    transition: all 0.6s ease;
}

.icon:hover{
    color: hotpink;
}

nav div p {
    color: white;
    transition: all 0.6s ease;
}

nav div p:hover {
    color: red;
    border-bottom: 2px solid red;
    padding: 0px 10px;
}