.category p {
    padding-left: 20px;
}

.login p {
    font-size:12pt;
    margin:16px 0;
}

.topNav {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.topNav h1 {
    margin: 25px 0;
}

.topNav input {
    height: 20px;
    margin: 24px 0 0 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    border-bottom: 1px solid white;
    width: 190px;
    position: relative;
}

.topNav .searchIcon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 22px;
    left: 628px;
    cursor: pointer;
}

.topNav div{
    display: flex;
    flex-direction: row;
    margin: 28px 100px;
}

.topNav div p {
    margin: 0px 20px;
    font-weight: bold;
    cursor: pointer;
}

.topNav .icon{
    width: 28px;
    height: 28px;
    margin: 22px 0;
    cursor: pointer;
    margin-left: 150px;
}