.wdImage{
    width: 250px;
    height: 300px;
    border-radius: 3%;
    margin:15px 30px 0px 30px
}
.wdSub{
    margin-top: 11px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
    white-space: initial;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.title{
    margin-top: 8px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    white-space: initial;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.addIcon{
    width: 30px;
    height: 30px;
}
.addIconLocation{
    left: 171px;
    top: 500px;
    position: absolute;
}
